# Compiled JavaScript files (TypeScript output)
# NOTE: We use JavaScript (not TypeScript), so we DON'T ignore .js files!
# **/*.js
# **/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
